/* After and Before content */

.Process h3:before {
		content: "";
		position: absolute;
		width: 140px;
		bottom: 0;
		left: 50%;
		margin-left: -70px;
		height: 1px;
		background: #ebebeb;
	}
	.Process h3:after {
        content: "";
		position: absolute;
		width: 24px;
		height: 24px;
		bottom: -11px;
		left: 50%;
		margin-left: -12px;
		border: 5px solid #fff;
		border-radius: 20px;
		background: #45aed6; 	
	}

/* 
.Pro... h3:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 40px;	/* or use this (left: 50%;)  */
		width: 2px;
		margin-left: -1.5px;
		content: '';
		background-color: #e9ecef;
	}
*/
